<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Coffee Pickles</title>
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/c3.min.css') }}">
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" media="screen" href = "{{ url_for('static', filename='css/bootstrap-theme.min.css') }}">
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{ url_for('static', filename='js/c3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script th:inline="javascript">

        $.ajax({
            url: "/coffeedates/user1",
            dataType: "json"
        }).done(function(jsonData)  {

            l = jsonData.length;
            x_keys = ['x'];
            x_data = ['data1'];
            for (var i=0; i < l; i++) {
                x_keys.push(jsonData[i][0]);
                x_data.push(jsonData[i][1]);
            }
            console.log(x_data);
            draw_data = {
                x: 'x',
                xFormat: '%Y-%m-%d',
                columns: [
                    x_keys,
                    x_data
                ]
            }

            var chart = c3.generate({
                data: draw_data,
                axis: {
                    x: {
                        type: 'timeseries'
                    }
                },
                bindto: '#chart1'
            });
        });
    </script>

    <script th:inline="javascript">

        $.ajax({
            url: "/coffeedays/user1",
            dataType: "json"
        }).done(function(jsonData)  {

            l = jsonData.length;
            x_keys = ['x'];
            x_data = ['data1'];
            for (var i=0; i < l; i++) {
                x_keys.push(jsonData[i][0]);
                x_data.push(jsonData[i][1]);
            }
            draw_data = {
                x: 'x',
                xFormat: '%A',
                columns: [
                    x_keys,
                    x_data
                ],
                types: {
                    data1: 'bar',
                }
            }

            var chart2 = c3.generate({
                data: draw_data,
                axis: {
                    rotated: true,
                    x: {
                        type: 'category',
                        categories: x_keys
                    }
                },
                bindto: '#chart2'
            });
        });
    </script>

</head>
<body>

    <div layout:fragment="content">

        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Coffee Pickles</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="/">Dashboard</a></li>
                        <li><a href="/">Help</a></li>
                    </ul>
                    <form class="navbar-form navbar-right" action="{{ url_for('add_coffee') }}" method="post">
                        <input type="submit" value="Coffee!" class="btn btn-danger">
                    </form>
                    <ul class="nav navbar-nav navbar-right navbar-text">
                        <li>Current balance: {{ user.balance }}</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right navbar-text">
                        <li>All-time coffees: {{ coffee_total }} </li>
                    </ul>
                </div>
            </div>
        </nav>


        <div class="container-fluid">
            <div class="row">
                <div class="col-md-offset-1 col-md-10">
                    <br/><br/>
                    <h1 class="page-header">Dashboard</h1>
                    <div class="row placeholders">
                        <div class="col-md-6 placeholder">
                            <div id="chart1"></div>
                        </div>
                        <div class="col-md-6 placeholder">
                            <div id="chart2"></div>
                        </div>
                    </div>
                    <div class="alert danger" role="alert">
                    {% with messages = get_flashed_messages(with_categories=true) %}
                      {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-success" role="alert"><b>{{ category }}</b>: {{ message }}</div>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                    </div>

                    <div class="table-responsive col-md-9">
                        <h2 class="sub-header">Recent payments</h2>
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Date</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for payment in payments %}
                            <tr>
                                <td>{{ payment.date }}</td>
                                <td>{{ payment.amount }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3">
                        <h2 class="sub-header">Create payment</h2>
                        <form class="form-horizontal" action="{{ url_for('add_payment') }}" method="post">
                            <div class="form-group">
                                <label for="amount" class="col-sm-2 control-label">Amount:</label>
                                <div class="col-sm-10">
                                    <input type="text" name="amount" class="form-control" id="amount">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <input type="submit" value="Pay" class="form-control btn btn-default">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>