<!DOCTYPE html>
<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="ut8">
    <title>Coffee Pickles</title>
    <link type="text/css" href="/static/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="/static/bootstrap.min.js"></script>
</head>
<body>
<header>
    <hgroup>
        <h1><a href="/"><span class="blue">PyPickles</span></a></h1>
    </hgroup>
</header>

<div id="main">
    <div layout:fragment="content">
        Page content goes here
    </div>
</div>

</body>
</html>
